@media screen and (max-width: 600px) {
    @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
    
        }
    
        html,
        body {
            height: 100%;
        }
    
        .h,
        .h_2,
        .p_1,
        .p_2 {
            padding: 0.5%;
        }
    
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100%;
        }
    
        .header,
        .footer {
            background-color: bisque;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 100%;
        }
    
        .header-inner,
        .footer-inner {
            background-color: white;
            border: 1px solid black;
            min-width: auto;
            max-width: auto;
            min-height: auto;
            max-height: auto;
        }
    
        .main-aside {
            min-height: 100%;
            display: flex;
        }
    
        .content__345 {
            display: flex;
            width: 100%;
            height: 100%;
        }
    
        .content__35 {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        .main {
            display: flex;
            flex-direction: column;
        }
    
        .block__3,
        .block__5 {
            padding: 20px;
            background-color: white;
        }
    
        .block__3 {
            margin-bottom: auto;
        }
    
        .block__2 {
            padding: 40px;
            font-size: 180%;
            text-align: left;
            width: 100%;
        }
    
        .block__2,
        .block__4 {
            background-color: aquamarine;
        }
    
        .block__4 {
            align-items: right;
            width: 100%;
            padding: 1%;
        }
    
        .footer {
            background-color: bisque;
        }
    
        .header,
        .block__2,
        .block__4,
        .block__5,
        .footer {
            border: 1px solid black;
        }
        .header{
            padding: 10px;
            order: 0;
            flex-flow: column;
        }
        .main-aside{
            order: 1;
            flex-flow: column;
        }
        .content__345{
            order: 1;
            flex-flow: column;
        }
        .footer{
            padding: 10px;
            order: 2;
            flex-flow: column;
        }
}
@media screen and (min-width: 601px) {
    @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;   
        }
    
        html,
        body {
            height: 100%;
        }
    
        .h,
        .h_2,
        .p_1,
        .p_2 {
            padding: 0.5%;
        }
    
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100%;
        }
    
        .header,
        .footer {
            background-color: bisque;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 100%;
        }
    
        .header-inner,
        .footer-inner {
            background-color: white;
            border: 1px solid black;
            min-width: auto;
            max-width: auto;
            min-height: auto;
            max-height: auto;
        }
    
        .main-aside {
            min-height: 100%;
            display: flex;
        }
    
        .content__345 {
            display: flex;
            width: 100%;
            height: 100%;
        }
    
        .content__35 {
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    
        .main {
            display: flex;
            flex-direction: column;
        }
    
        .block__3,
        .block__5 {
            padding: 20px;
            background-color: white;
        }
    
        .block__3 {
            margin-bottom: auto;
        }
    
        .block__2 {
            padding: 40px;
            font-size: 180%;
            text-align: left;
            width: 80%;
        }
    
        .block__2,
        .block__4 {
            background-color: aquamarine;
        }
    
        .block__4 {
            align-items: right;
            width: 20%;
            padding: 1%;
        }
    
        .footer {
            background-color: bisque;
        }
    
        .header,
        .block__2,
        .block__4,
        .block__5,
        .footer {
            border: 1px solid black;
        }
}