@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr / 1fr;
}

.header, .footer {
    background-color: bisque;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner, .footer-inner{
    background-color: white;
    border: 1px solid black;
    min-width: 10%;
    max-width: auto;
    min-height: 30%;
    max-height: auto;
}
.main-aside {
    min-height: 100%;
    display: grid;
    grid-template: 1fr / 20% 80%;
}

.content__345 {
    display: grid;
    grid-template: 1fr / 75% 25%;
}

.content__35 {
    display: grid;
    grid-template: 1fr minmax(50px, auto) / 1fr;
}

.main {
    display: grid;
    grid-template: 1fr minmax(100px, auto) / 1fr;
}

.block__3,
.block__5 {
    padding: 20px;
    background-color: white;
}

.block__2{
    padding: 20px;
}
.block__2,
.block__4 {
    background-color: aquamarine;
}

.footer {
    background-color: bisque;
}

map {
    display: inline;
}
.header,
.block__2,
.block__3,
.block__4,
.block__5,
.footer {
    border: 1px solid black;
}